@using System.Web.Optimization
<!DOCTYPE html>

<html style="resize:none">
<head>
	<title>@ViewBag.Title</title>
	<script src="~/Scripts/min/scripts.min.js"></script>
	<script src="signalr/hubs"></script>


    <script src="~/app/app.js"></script>
    <script src="~/app/errorLogger.js"></script>
    <script src="~/app/Admin/controllers/admin-controller.js"></script>
    <script src="~/app/Admin/controllers/datepicker-controller.js"></script>
    <script src="~/app/Admin/controllers/diagnostics-controller.js"></script>
    <script src="~/app/Admin/controllers/messageModal-controller.js"></script>
    <script src="~/app/Admin/controllers/modalInstance-controller.js"></script>
    <script src="~/app/Admin/controllers/userActivity-controller.js"></script>
    <script src="~/app/Admin/controllers/users-controller.js"></script>    
    <script src="~/app/Admin/directives/uiSwitch-directive.js"></script>
    <script src="~/app/Admin/services/userActivity/userActivity-repository.js"></script>
    <script src="~/app/Admin/services/userActivity/userActivity-service.js"></script>
    <script src="~/app/Admin/services/userActivity/userActivityCaching-service.js"></script>
    <script src="~/app/Admin/services/diagnostics-service.js"></script>
    <script src="~/app/Admin/services/dialog-service.js"></script>
    <script src="~/app/Admin/services/manageUserSate-service.js"></script>
    <script src="~/app/Admin/services/manageUsersList-srvice.js"></script>
    <script src="~/app/Admin/services/route-service.js"></script>
    <script src="~/app/Admin/services/server-service.js"></script>
    <script src="~/app/Admin/services/userStateControll-service.js"></script>
    <script src="~/app/Admin/services/validation-service.js"></script>
    <script src="~/app/Common/controller/login-controller.js"></script>
    <script src="~/app/Common/controller/user-controller.js"></script>
    <script src="~/app/Common/directives/autoSize.js"></script>
    <script src="~/app/Common/directives/fileModel.js"></script>
    <script src="~/app/Common/directives/fileModel.js"></script>
    <script src="~/app/Common/directives/modalModel.js"></script>
    <script src="~/app/Common/directives/modalModel.js"></script>
    <script src="~/app/Common/enums/entityState.js"></script>
    <script src="~/app/Common/enums/listGroupItem.js"></script>
    <script src="~/app/Common/enums/prompterResolution.js"></script>
    <script src="~/app/Common/enums/prompterStatus.js"></script>
    <script src="~/app/Common/enums/role.js"></script>
    <script src="~/app/Common/enums/textSizes.js"></script>
    <script src="~/app/Common/notify/notify.js"></script>
    <script src="~/app/Common/notify/notifyType.js"></script>
    <script src="~/app/Common/services/broadcastHub.js"></script>
    <script src="~/app/Common/services/dateFormater.js"></script>
    <script src="~/app/Common/services/fileUpload.js"></script>
    <script src="~/app/Common/services/login-service.js"></script>
    <script src="~/app/Common/services/modalService.js"></script>
    <script src="~/app/Common/services/user-service.js"></script>
    <script src="~/app/Common/angular-md5.js"></script>
    <script src="~/app/Common/constants.js"></script>
    <script src="~/app/Common/icons.js"></script>
    <script src="~/app/Common/webApi.js"></script>
    <script src="~/app/Operator/controllers/customizePromptersDialog.js"></script>
    <script src="~/app/Operator/controllers/playerController.js"></script>
    <script src="~/app/Operator/controllers/prompterController.js"></script>
    <script src="~/app/Operator/controllers/scriptController.js"></script>
    <script src="~/app/Operator/directives/dndLists.js"></script>
    <script src="~/app/Operator/directives/focusMe.js"></script>
    <script src="~/app/Operator/filters/scriptFilter.js"></script>
    <script src="~/app/Operator/services/init/initScriptCtrlProps.js"></script>
    <script src="~/app/Operator/services/init/initScriptCtrlFunctions.js"></script>
    <script src="~/app/Operator/services/modals/operatorDialog.js"></script>
    <script src="~/app/Operator/services/prompterServices/fetchPrompters-service.js"></script>
    <script src="~/app/Operator/services/prompterServices/prompterChecked.js"></script>
    <script src="~/app/Operator/services/prompterServices/prompterClass.js"></script>
    <script src="~/app/Operator/services/prompterServices/prompterOrder.js"></script>
    <script src="~/app/Operator/services/prompterServices/prompterRepository.js"></script>
    <script src="~/app/Operator/services/scriptServices/scriptService.js"></script>
    <script src="~/app/Operator/services/scriptServices/broadcastOperator.js"></script>
    <script src="~/app/Operator/services/scriptServices/canPlay.js"></script>
    <script src="~/app/Operator/services/scriptServices/scriptClass.js"></script>
    <script src="~/app/Operator/services/scriptServices/scriptOrder.js"></script>
    <script src="~/app/Operator/services/scriptServices/scriptRepository.js"></script>
    <script src="~/app/Operator/services/sectionServices/sectionServices.js"></script>
    <script src="~/app/Operator/services/sectionServices/manageSections.js"></script>
	<link rel="stylesheet" type="text/css" href="~/Content/styles.min.css">

    @*actors scripts*@
    <script src="~/app/Operator/services/actorsServices/fetchActors-service.js"></script>
    <script src="~/app/Operator/controllers/actorsController.js"></script>
    @*<script src="~/app/Operator/services/prompterServices/actorRepository.js"></script>*@
    <script src="~/app/Operator/services/prompterServices/actorChecked.js"></script>
    <script src="~/app/Admin/services/actorsRepository.js"></script>
    <script src="~/app/Operator/services/actorsServices/actorOrder.js"></script>
    <script src="~/app/Operator/services/actorsServices/actorService.js"></script>

    @RenderSection("Scripts", false)

</head>
<body>
    <div ng-app="app" ng-controller="loginController">
        <div class="navbar navbar-inverseNew navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <h3 class="layout-font">Prompter Pro</h3>
                    <ul class="navbar-right pull-right">
                        @if (Request.IsAuthenticated)
                        {
                            <strong>You are logged in as @Html.Encode(User.Identity.Name).</strong>
                            <a class="glyphicon glyphicon-log-out" title="LogOut" href="/Login/Logout" ng-click="refresh()"></a>
                        }
                        else
                        {
                            <strong>You are not logged in.</strong>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">

            @RenderBody()
        </div>
    </div>
</body>
</html>

