#InputNumber {
    width: 39px;
    height: 32px;
    position:absolute;
    bottom: 0px;
    left: 188px;
}

#MoveButton {
    width: 69px;
    height: 32px;
    position:absolute;
    bottom: 0px;
    left: 243px;
}